{% extends "pages/base.jinja" %}

{% block title %} About {% endblock%}

{% block content %} 

    <section>
        <h1>Abouty Abouty page</h1> 

        <p>yo yo yo</p>
    </section>

{% endblock %}